/* Background */

.background-section {
    background-color: #F8CFF8;
    width: 100%;
    padding: 0px 0px;
    z-index: -1;
    mask-image: linear-gradient(
        black 78%,
        transparent
    )
}

/* Index Image */
.index-img {
    animation: float 3s ease-in-out infinite;
    mask-image: linear-gradient(
        black 90%,
        transparent
    ) 
}

.cuadrado {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(-10px);
    }
}