/* Background */

/* Index Image */
.index-img {
    animation: float 4s ease-in-out infinite;
}

/* Animation */
@keyframes float {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-23px);
    }
    100% {
        transform: translateY(-10px);
    }
}
